
*.cache

*.json

*.targets

*.props

*.pdb

Lesson_1/Lesson_1/obj/Debug/netcoreapp3.1/Lesson_1.dll

*.txt


*.exe

*.cs

*.csproj

*.dll

*.sln

Lesson_1/.vs/Lesson_1/v16/.suo

Lesson_1/.vs/Lesson_1/DesignTimeBuild/.dtbcache.v2
